/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/composer.phar
.idea
# Supp fichiers sass
/.sass-cache
/public/css/sass/*.map
/public/css/sass/*
# Pas supp ce fichier
!app.css
