#modal_coffre {
    background-color: $white;
    display: flex;
    justify-content: space-around !important;
    align-items: center;
    flex-direction: column;
    align-content: center;

    img {
        display: none;
    }

    #code_coffre {
        font-family: "Audiowide", cursive;
        background-color: $body-bg;
        width: 44%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .code_buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: $pink;
        height: 54%;
        width: 91%;
        text-align: center;

        span {
            width: 100%;
            margin: 2%;

            .num {
                background-color: $body-bg;
                font-size: 142%;
                border-radius: 50%;
                padding: 1% 3%;
                text-align: center;
                margin: 0 1%;
                display: inline-block;
                width: 4%;
                height: 69%;
                line-height: 149%;
                text-align: center;
                // Transition
                transition: all 200ms ease-in;
                -webkit-transition: all 200ms ease-in;
                -ms-transition: all 200ms ease-in;
                -moz-transition: all 200ms ease-in;

                &:hover {
                    color: $pink;
                    // Transition
                    transition: all 200ms ease-in;
                    -webkit-transition: all 200ms ease-in;
                    -ms-transition: all 200ms ease-in;
                    -moz-transition: all 200ms ease-in;
                }

                #div_bas {
                    display: block;
                }
            }
        }
    }
}
