// Bouton générale
.btn {
    font-family: $font-logo;
    text-transform: lowercase;
    border-radius: 30rem;
    padding: 1rem 3.5rem;
    color: $white;
    display: inline-block;    
    border: .2rem solid $black;

    position: relative;
    overflow: hidden;
    z-index: 1;
    line-height: 100%;
}

.btn_bordure {
    color: $black;
    transition: all 400ms ease-out;
    &:hover {
        color: $white;
        border: .2rem solid $white;
    }
}

.btn_fond {
    color: $white;
    background: darken($body-bg, 50%);
    border: .2rem solid transparent;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: calc(-100% - 30px);
        width: calc(100% + 20px);
        height: 100%;
        z-index: -1;
        background-color: $white;
        transform: skew(-22deg);
        transition: all 800ms ease-out;
    }
    &:hover {
        color: $body-bg;
        border: .2rem solid transparent;
        &:before {
            content: '';
            left: -10px;
        }
    }
}