.circle {
    border-radius: 50%;
    perspective: 75rem;
    perspective-origin: 50% 50%;
}

.circle-full-cyan_blue {
    position: absolute;
    width: 16.2rem;
    height: 16.2rem;
    border: 1rem solid $cyan_blue-degraded;
    background: $cyan_blue-degraded;
    right: -6%;
}
.circle-border-cyan_blue {
    position: absolute;
    width: 16.2rem;
    height: 16.2rem;
    border: 1rem solid $cyan_blue-degraded;
    right: -6%;
}
