.link {
    &:hover {
        padding: 3% 0;
        border-radius: 5%;
        -webkit-filter: brightness(100%) drop-shadow(0.05rem 0.05rem 0.5rem $white) saturate(200%);
        filter: brightness(100%) drop-shadow(0.05rem 0.05rem 0.5rem $white) saturate(200%); // Glassmorphism
        background-image: -o-linear-gradient($white-degraded);
        background-image: -o-linear-gradient($white-degraded);
        background-image: linear-gradient($white-degraded);
    }
}

// .link_hover {
//     &:after {
//         content: '';
//         display: block;
//         position: absolute;
//         width: 0%;
//         height: 6px;
//         transition: 0.25s cubic-bezier(0.72, -0.01, 0.19, 0.92);
//         background: #E46161;
//     }

//     &:hover:after {
//         width: 100%;
//     }
// }
