/**
 *
 *  Forcer le jeu en paysage sur mobile
 *
 * */

/**************** Demander à l'utilisateur de mettre tourner son téléphone lorsqu'on est en mode portrait  */
// Si le portable est en mode portrait
@media only screen and (orientation:portrait) {

    .landscape {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;

        #turn-mobile {
            display: flex;
            width: 100vw;
            height: 100vh;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .phone {
                margin: 0 auto;
                height: 3rem;
                width: 6rem;
                border: 3px solid $white;
                border-radius: 10px;
                -webkit-animation: rotate 1.5s ease-in-out infinite alternate;
                animation: rotate 1.5s ease-in-out infinite alternate;
            }

            .message {
                margin-top: 40px;
            }
        }

        #Main {
            display: none;
        }
    }
}

// Si le portable est en mode paysage
@media only screen and (orientation:landscape) {

    #turn-mobile,
    #fullscreen {
        display: none !important;
    }

    #Main {
        display: block;

        #game-page .modal {
            .modal-content {
                width: 73%;
                height: 33vw;
                top: 50%;
            }
        }
    }
}

@media (aspect-ratio: 1/1) {

    // Identique à (orientation:landscape)
    #turn-mobile,
    #fullscreen {
        display: none;
    }

    #Main {
        display: block;

        #game-page .modal {
            .modal-content {
                width: 53%;
                height: 33vw;
                top: 50%;
            }
        }
    }
}

// Animation de rotation
@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(-90deg);
    }

    100% {
        -webkit-transform: rotate(-90deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(-90deg)
    }

    100% {
        transform: rotate(-90deg)
    }
}

/**************** Forcer le mode paysage lorsqu'on est en mode portrait */
// @media all and (orientation: portrait) {

//     .landscape,
//     .landscape body {
//         background-color: red;
//         width: 100vh !important;
//         height: 100vw !important;
//         overflow-x: hidden !important;
//         overflow-y: scroll !important;
//     }

//     html {
//         position: fixed;
//         -webkit-transform: rotate(-90deg);
//         -moz-transform: rotate(-90deg);
//         -ms-transform: rotate(-90deg);
//         -o-transform: rotate(-90deg);
//         transform: rotate(-90deg);
//         // offset-rotate: 90deg;
//         // offset-rotate: .5turn;    
//         transform-origin: left top;
//         top: 100%;
//         left: 0;
//     }

//     .modal {
//         width: 100vh;
//         height: 100vw;

//         #Inventory {
//             width: 97vh;
//             left: 0;
//         }
//     }
// }
