// Forcer le jeu en paysage sur mobile

@media all and (orientation: portrait) {
    .landscape {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        // offset-rotate: 90deg;
        // offset-rotate: .5turn;      
        width: 100vh;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-x: hidden !important;
        overflow-y: scroll !important;
        // background-color: red;
        // transform-origin: left top;

        .modal {
            .modal-content {
                top: 25% !important;
                width: 40% !important;
                height: 51vw !important;
            }

            #Inventory {
                width: 10% !important;
                height: 100% !important;
                top: 0 !important;
                left: -58% !important;

                div {
                    height: 34%;
                    display: grid;
                }
            }
        }
    }
}

// @media only screen and (max-width: 600px) {}

// @media only screen and (max-width: 768px) {}

// @media only screen and (max-width: 992px) {}

@media only screen and (max-width: 1300px) {
    #game-page .modal .modal-content {
        width: 50%;
        height: 20vw;
    }
}
