// Forcer le jeu en paysage sur mobile

@media all and (orientation: portrait) {
    .landscape {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        // offset-rotate: 90deg;
        // offset-rotate: .5turn;      
        width: 100vh;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-x: hidden !important;
        overflow-y: scroll;
        // background-color: red;
        // transform-origin: left top;
    }
}

@media only screen and (max-width: 1300px) {
    #game-page .modal .modal-content {
        height: 14rem;
        width: 23rem;
    }
}

@media only screen and (max-width: 600px) {
    #game-page .modal .modal-content {
        width: 14rem;
        height: 23rem;
    }
}
