#game-page {
    #Game {
        #Objects a {
            img {
                width: 20%;
            }
            #Casettes {
                left: 40%;
                bottom: 4%;
                width: 8%;
            }

            #Coffre_Fort {
                left: 10%;
                bottom: 14%;
                width: 27%;
            }

            #Jukebox {
                right: 5%;
                bottom: 14%;
            }

            #Lecteur {
                left: 12%;
                bottom: 39%;
                width: 10%;
            }

            #Radio {
                right: 34%;
                bottom: 14%;
            }

            #Ramdam {
                top: 4%;
                left: 34%;
            }
        }
    }
}
