#game-page
{
    #Game{
        position: relative;
        width: 100%;
        height: 100%;
        background-color: red;
        #bg {
            min-height: 100%;
            width: 100%;
            height: 100%;
            position: fixed;
            z-index: -1;
        }
        #Objects a {
            position: relative;
            min-height: 100%;
            img {
                position: fixed;
                top: 50%;
                // left: 0;
                height: auto;
                bottom: 50%;
                width: 19%;
                transform-origin: center;
            }

            #Casettes {
                left: 50%
            }
            #Coffre_Fort {
                left: 20%;
            }
            #Jukebox {
                right: 5%;
            }
            #Lecteur {
                left: 20%;
            }
            #Radio{
                right: 40%;
            }
            #Ramdam {
                top: 0;
                left: 30%
            }
        }
    }
}
