#game-page
{
    #bg { 
        min-height: 100%;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: -1;
    }
    #Objects a {
        min-height: 100%;
        img {
            position: fixed;
            // top: 0;
            left: 0;
            height: auto;
            bottom: 133px;
            width: 20.5%;
        }
    }
}