/* Page modal */
#home-page .modal-content {
    // Glassmorphism
    background-image: -webkit-linear-gradient($cyan_blue-degraded);
    background-image: -moz-linear-gradient($cyan_blue-degraded);
    background-image: -o-linear-gradient($cyan_blue-degraded);
    background-image: linear-gradient($cyan_blue-degraded);
}
