// ScrollBar
body, html{
    scroll-behavior: smooth; // Scrollbar
    scrollbar-width:none; // firefox 
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
}

::-webkit-scrollbar { // Autres naviguateurs
    display: none;
}

// Titres
h1 {
    text-align: center;
    font-weight: bold !important;
    margin-bottom: 2rem !important;
}