/**
 *
 *  Programmation générique adaptée au projet
 *
 * */

// Corps
body, html{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
}

// Titres
h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
}

// Liens
a {
    color: white;
    text-decoration: none;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
    &:link {
        cursor: none; // Retire le curseur
    }
    &:hover {
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
    }
}

// Ratio image
img {
    max-width: 100%;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
}