/**
 *
 *  Programmation générique adaptée au projet
 *
 * */

// Corps
body, html{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
}

// Titres
h1 {
    color: rgba(255, 255, 255, 0.04);
    font-family: $font-title;
    font-size: 20rem;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    // -webkit-text-stroke: 12px;
    // -webkit-text-stroke-color: rgba(255, 255, 255, 0.04);
}

// Liens
a {
    color: white;
    text-decoration: none;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
    &:link {
        cursor: none; // Retire le curseur
    }
    &:hover {
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
    }
}

// Ratio image
img {
    max-width: 100%;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
}