 /**
 *
 * Propriété CSS cursor
 *
 * */

 .cursor {
     pointer-events: none;

     .cursor__ball {
         position: fixed;
         top: 0;
         left: 0;
         // mix-blend-mode: difference;
         z-index: 1000000;

         circle {
             fill: none;
             stroke: white;
             stroke-width: 1;
         }
     }

     // .cursor__ball--small {
     // 	fill: gainsboro;
     // }
     // .cursor__ball--big {
     // 	fill: transparent;
     // 	stroke: white;
     // 	stroke-width: 3;
     // }
 }

 body {
     //width: 100vw;
     //height: 100vh;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -ms-flex-direction: column;
     flex-direction: column;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     cursor: none;
 }

 .cursor {
     position: fixed;
     left: 0;
     top: 0;
     pointer-events: none;
 }

 .cursor--small {
     width: 3vh;
     height: 3vh;
     /* left: -10px; */
     /* top: -10px; */
     border-radius: 50%;
     z-index: 99;
     background: $white;
 }

 .cursor--canvas {
     width: 100vw !important;
     height: 100vh !important;
     z-index: 100;
 }
