/**
*
* Programmation générique :  Base de toutes les pages => gloables aux projets
*
* */

* {
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
    box-sizing: border-box; 
}

html {
	width: 100%;
	height: 100%;
	font-size: 1.1rem; // 1rem generalement
	line-height: 1.5rem;
    scroll-behavior: smooth;
	body {
		background-color: $body-bg !important;
		color: $white !important;
		font-family: $font-body;
		font-display: swap;
		margin: 0;
		padding: 0 !important;
		height: 100vh;
		overflow-x: hidden;
		cursor: none; // Retire le curseur par defaut
        // Puces
        position: relative; // Si footer en absolute
		ul,
		li {
			list-style-type: none;
		}
        // Liens
		a {
			color: white;
			text-decoration: none;
			-webkit-text-decoration-line: none;
			text-decoration-line: none;
			&:link {
				cursor: none; // Retire le curseur
			}
			&:hover {
				-webkit-transition: 0.4s;
				-o-transition: 0.4s;
				transition: 0.4s;
			}
		}
		// Redimensionnement d une image en conservant le ratio lors du responsive
		img {
			max-width: 100%;
			height: auto;
			-o-object-fit: contain;
			object-fit: contain;
		}
	}
}