#loader {
  height: 100vh;
	width: 100vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	position: absolute;
	.bg-txt {
		display: none;
		z-index: 200000000;
		position: absolute;
		.bg_txt_bordure {
			font-size: 10rem;
			line-height: 125%;
			color: #fff0;
			-webkit-text-stroke: .2rem;
			-webkit-text-stroke-color: $white;
		}
	}
	.loader-circle {
		text-align: center;
		// p {
		//     position: absolute;
		// }
		.circle {
			// width: 15rem;
			// height: 15rem;
			background: #E5E5E5;
			perspective: 1200px;
			perspective-origin: 50% 50%;
			-webkit-animation: bounce 1.8s infinite ease-in-out;
			animation: bounce 1.8s infinite ease-in-out;
		}
	}
}

@keyframes bounce {
	0%,
	80%,
	100% {
		width: 15rem;
		height: 15rem;
	}
	40% {
		width: 10rem;
		height: 10rem;
	}
}
