
#loader {
    height: 100vh;
	width: 100vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	position: absolute;
	.bg-txt {
		z-index: -1;
		position: absolute;
		.bg_txt_bordure {
			font-size: 10vw;
			line-height: 125%;
			color: #fff0;
			-webkit-text-stroke: 0.05rem;
			-webkit-text-stroke-color: #E5E5E5;
		}
        .bg_txt_fond {
            font-size: 10vw;
            line-height: 125%;
            color: #E5E5E5;
        }
	}


    .chargement{
        font-size: 3vw;
        font-weight: 1000;
        position:absolute;
        vertical-align: middle;
        color:black;
        z-index: 1;
    }
	.loader-circle {

		.circle {
            position: absolute;
            transform : translate(-50%,-50%);
            z-index: 0;
			background: rgba(229,229,229,1);
            opacity: 65%;
		}
        #c1{
            -webkit-animation: bounce1 1.8s infinite ease-in-out;
            animation: bounce1 1.8s infinite ease-in-out;
        }
        #c2{
            -webkit-animation: bounce2 1.8s infinite ease-in-out;
            animation: bounce2 1.8s infinite ease-in-out;
        }
        #c3{
            -webkit-animation: bounce3 1.8s infinite ease-in-out;
            animation: bounce3 1.8s infinite ease-in-out;
        }
        #c4{
            -webkit-animation: bounce4 1.8s infinite ease-in-out;
            animation: bounce4 1.8s infinite ease-in-out;
        }
	}

}
@keyframes bounce1 {
	0%,
	80%,
	100% {
		width: 30vw;
		height: 30vw;
	}
	40% {
		width: 25vw;
		height: 25vw;
	}
}

@keyframes bounce2 {
    0%,
    100%,
    40% {
        width: 29vw;
        height: 29vw;
    }
    80% {
        width: 25vw;
        height: 25vw;
    }
}

@keyframes bounce3 {
    0%,
    100%,
    70% {
        width: 30vw;
        height: 30vw;
    }
    30% {
        width: 27vw;
        height: 27vw;
    }
}

@keyframes bounce4 {
    0%,
    100%,
    90% {
        width: 30vw;
        height: 30vw;
    }
    55% {
        width: 25vw;
        height: 25vw;
    }
}


@keyframes defilement-rtl {
    0% {
        transform: translate3d(0,0,0);      /* position initiale à droite */
    }
    100% {
        transform: translate3d(-100%,0,0);  /* position finale à gauche */
    }
}
