#oiseaux_modal {
    #Oiseaux_bg {
        z-index: 1;
    }

    #Piece1 {
        width: 6%;
        position: absolute;
        bottom: 8%;
        left: 48%;
        transform: rotate(98deg);
        z-index: 0;
        pointer-events: auto !important;
    }
}
