#tablette_modal {

    img {
        width: 35%;
    }

    #div_slot {
        width: 15%;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        position: absolute;
        -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        transform: scaleX(-1);

        .Pile_slot {
            opacity: 25%;
        }

        .Pile_empty_slot {
            opacity: 50%;
        }
    }

    #code_tablette {
        font-family: $font-logo;
        background-color: #e97c61;
        width: 25%;
        height: 16%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: absolute;
        z-index: 2;
        margin: auto;
        left: 37.4%;
        top: 13%;
    }

    #tablette_buttons {
        position: absolute;
        left: 36%;
        width: 28%;
        top: 36%;

        [id^="tablette_button_"] {
            background: gray;
            color: white;
            font-size: 130%;
            text-align: center;
            width: 4%;
            width: 25%;
            display: inline;
            height: 2%;
            width: 23%;
            border: .1vw solid $black;
            line-height: 93%;
            padding-top: 7%;
            margin: 1%;
            border-radius: 10%;
        }
    }
}
