#contact {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	.contact-center {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		div {
			-ms-flex-preferred-size: 50%;
			flex-basis: 50%;
		}
	}
	.contact-txt {
		padding: 0 5rem;
		.media {
			padding-top: 1.5rem;
			text-align: right;
			// position: relative;
			// display: flex; // Permet de centrer le .media::before
			// justify-content: flex-end;
			a {
				margin-left: .5rem;
			}
		}
		.media:before {
			content: "";
			display: table-cell;
			width: .1rem;
			background-color: $white;
			position: absolute;
			margin-left:-100%;
			// font-weight: bold;
			// display: inline-block;
			// vertical-align: middle;
		}
	}
	.take-contact {
		align-self: center;
		.mail {
			font-size: xx-large;
			font-weight: bolder;
			text-shadow: .1rem .1rem 0 $color-shadow, 2px 2px 0 $color-shadow, 3px 3px 0 $color-shadow; // Effet 3D
		}
		.media {
			padding: .5rem;
		}
	}
}