#rank{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    .top3{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        &>div{
            padding: 0 6rem;
            position: relative;
            max-width: 100%;
            max-height: 100%;
        }
        svg {
            // fill: $black-degraded;
            stroke: $white;
            // stroke-width: .1rem;
            // filter: blur(59px);
            position: relative;
            z-index: 1;
        }
        img{
            width: 250px;
            height: 201px;
            position: absolute;
            top: 98px;
            // bottom: 13%;
            z-index: 0;
        }
        .second img {
            right: 0;
        }
        .first img {
            right: 0;
            top: 10%;
        }
        .third img {
            left: 0;
        }
        p {
            padding-top: 2rem;
        }
    }
    .board{
        margin-top: 15rem;
        // width: 995px;
        // height: 670px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .main-board {
            border: thin solid $white;
            // width: 100%;
            padding: 3rem;
            .logo-title td {
                padding: 3rem;
            }
            .board-scroll {
                overflow-y: auto;
                overflow-x: hidden;
                width: 320px; 
                height: 180px;
            }
            td {
                // border: thin solid #6495ed;
                width: 33.3%;
                padding: 1rem;
                text-align: center;
                background-color: $body-bg;
            }
        }
        img {
            display: none;
        }
    }
}

