#lecteur_modal {
    #div_buttons {
        display: flex;
        flex-direction: row;
        position: absolute;
        width: 34.1%;
        left: 34.8%;
        height: 15%;
        justify-content: space-around;
        bottom: 10.8%;

        .Lecteur_button {
            background: transparent;
            color: #000000;
            height: 100%;
            width: 15%;
            margin: 0.2%;
            border-radius: 28%;
            border: none;
            transition: all 200ms ease-in;
            -webkit-transition: all 200ms ease-in;
            -ms-transition: all 200ms ease-in;
            -moz-transition: all 200ms ease-in;

            &:hover {
                background-color: #67009b;
                opacity: .8;
                filter: brightness(120%) drop-shadow(0.05rem 0.05rem 0.5rem #67009b);
                // Transition
                transition: all 200ms ease-in;
                -webkit-transition: all 200ms ease-in;
                -ms-transition: all 200ms ease-in;
                -moz-transition: all 200ms ease-in;
            }
        }
    }
}

/* Firefox */
@-moz-document url-prefix() {
    #div_buttons {
        bottom: 12.8%;
    }
}
