#game-page #Game {
    #ObjectInfo {
        .modal #enigme_modal {

            #Pile1_bg,
            #Pile2_bg,
            #Pile3_bg {
                width: 48%;
            }
        }
    }

    .Room2 {
        div {
            img {
                width: 15%;
            }

            [id^="link_"] img:hover {
                // CSS selector matches class prefix/suffix : On récuprer les identifiants commençant par "link_" : préfixe. Si on avait mis [id$="link_"], on aurait récuprer ce qui y'a avant, soit le suffix. Puis avec [class*=" link_"], on récupère préfix et suffix.
                -webkit-filter: sepia(60%) drop-shadow(.03rem .03rem .03rem $black);
                filter: sepia(60%) drop-shadow(.03rem .03rem .03rem $black);
            }
        }

        #Objects {
            #Lit {
                right: 29%;
                top: 3%;
                width: 40%;
                z-index: 0;
            }

            #Peluche {
                left: 26%;
                top: 35%;
                width: 13%;
            }

            #Bougie {
                top: 38%;
                left: 5%;
                width: 3%;
                z-index: 2;
            }

            [id^="Pile"] {
                width: 3%;
            }

            #Pile1 {
                top: 65%;
                left: 14%;
                z-index: 0;
            }

            #Pile2 {
                bottom: 8%;
                right: 44%;
                z-index: 1;
                -webkit-transform: rotate(195deg);
                -ms-transform: rotate(195deg);
                transform: rotate(195deg);
            }

            #Pile3 {
                bottom: 10%;
                right: 5%;
            }

            #Poster_Robot {
                right: 6%;
                top: 5%;
                width: 10%;
                // Transition 
                -webkit-transition: .5 all ease-in-out;
                -o-transition: .5 all ease-in-out;
                transition: .5 all ease-in-out;
                // Perspective
                -webkit-transform: perspective(25vh) rotateY(-22deg);
                transform: perspective(25vh) rotateY(-22deg);

                &:hover {
                    // Transition 
                    -webkit-transition: .5 all ease-in-out;
                    -o-transition: .5 all ease-in-out;
                    transition: .5 all ease-in-out;
                    // Filtre
                    -webkit-filter: drop-shadow(1vh 1vh 3vh $black), sepia(60%) drop-shadow(.03rem .03rem .03rem $black);
                    filter: drop-shadow(1vh 1vh 3vh $black), sepia(60%) drop-shadow(.03rem .03rem .03rem $black);
                }
            }

            #Tablette {
                width: 11%;
                left: 18%;
                bottom: 12%;
            }

            #Puzzle {
                left: 7%;
                width: 10%;
                bottom: 0;
            }
        }

        #Decors {
            #Etoiles {
                top: .9%;
                width: 31%;
                -webkit-animation: rihanna 5s infinite;
                animation: rihanna 8s infinite;
            }

            #Bureau {
                top: 33%;
                left: 0.5%;
                width: 24%;
                z-index: 1;
            }

            #Crayons {
                right: 14%;
                bottom: 24%;
                width: 14.5%;
            }

            #Dessin {
                right: 0;
                bottom: 22%;
                width: 27.5%;
            }

            #Marelle {
                bottom: 1.4%;
                right: 27%;
                width: 37%;
            }

            #Oiseaux {
                top: 0;
                left: 40%;
                width: 15%;
                z-index: 0;
            }
        }
    }
}
