#game-page #Game {

    .Room3 {
        #Objects {
            #Bouchon {
                right: 0;
                top: 46%;
                width: 9%;
                z-index: 2;
            }

            #Chateau_Sable {
                left: 23%;
                bottom: 10%;
                width: 23%;
                z-index: 2;
            }

            #Clef {
                left: 40%;
                bottom: 11%;
                width: 7%;
                z-index: 1;
            }

            #Coffre {
                left: 3%;
                bottom: 25%;
                width: 17%;
                z-index: 2;
            }

            #Baleine {
                right: 28%;
                bottom: 18.3%;
                width: 7%;
                z-index: 2;
            }

            #Canard {
                left: 4.5%;
                bottom: 5.5%;
                width: 2%;
                z-index: 2;
            }

            #Poulpe {
                width: 4%;
                bottom: 29%;
                left: 50%;
                z-index: 1;
            }

            #Bateau_Pirate {
                right: 24%;
                top: 34%;
                width: 20%;
                -webkit-transform: rotate(6deg);
                -ms-transform: rotate(6deg);
                transform: rotate(6deg);
                z-index: 2;
            }

            #Bouteille_Verre {
                right: 1%;
                bottom: 5%;
                width: 23%;
                -webkit-transform: rotate(10deg);
                -ms-transform: rotate(10deg);
                transform: rotate(10deg);
                z-index: 2;
            }

            #Bouteille_Oxygene {
                right: -13%;
                bottom: 27%;
                width: 18%;
                -webkit-transform: rotate(5deg);
                -ms-transform: rotate(5deg);
                transform: rotate(5deg);
                z-index: 2;
            }
        }

        #Decors {
            #Robinet {
                top: 2%;
                right: 0;
                width: 13%;
                z-index: 2;
            }

            #Bulle {
                display: none;
                width: 13%;
                z-index: 2;
            }

            #Crabe {
                bottom: 2%;
                left: 17.3%;
                width: 6%;
                z-index: 2;
            }

            #Seau {
                bottom: 18%;
                right: 9%;
                width: 18%;
                z-index: 2;
            }

            #Coquille {
                left: 1%;
                bottom: 3%;
                width: 7%;
                z-index: 1;
            }

            #Pagure {
                bottom: 30%;
                left: 48%;
                width: 6%;
                z-index: 2;
            }

            #Tas_Sable {
                bottom: 1%;
                width: 100%;
                height: auto;
                z-index: 2;
                right: 0;
            }
        }
    }
}
