#game-page #Game {
    #ObjectInfo {
        .modal #enigme_modal {

            #Pile1_bg,
            #Pile2_bg,
            #Pile3_bg {
                width: 48%;
            }
        }
    }


    .Room2 {
        div {
            img {
                width: 15%;
            }

            [id^="link_"] img:hover {
                // On récuprer les identifiants commençant par "link_" : préfixe. Si on avait mis [id$="link_"], on aurait récuprer ce qui y'a avant, soit le suffix. Puis avec [class*=" link_"], on récupère préfix et suffix.
                -webkit-filter: sepia(60%) drop-shadow(.03rem .03rem .03rem $black);
                filter: sepia(60%) drop-shadow(.03rem .03rem .03rem $black);
            }
        }

        #Objects {
            #Lit {
                right: 29%;
                top: 3%;
                width: 40%;
                z-index: 0;
            }

            #Peluche {
                left: 26%;
                bottom: 30%;
                width: 13%;
            }

            #Bougie {
                bottom: 56%;
                left: 5%;
                width: 3%;
                z-index: 2;
            }

            [id^="Pile"] {
                width: 3%;
            }

            #Pile1 {
                top: 65%;
                left: 14%;
                z-index: 0;
            }

            #Pile2 {
                bottom: 8%;
                right: 44%;
                z-index: 1;
                transform: rotate(195deg);
            }

            #Pile3 {
                bottom: 10%;
                right: 5%;
            }

            #Poster_Robot {
                right: 6%;
                top: 5%;
                width: 10%;
                -webkit-filter: drop-shadow(1vh 1vh 3vh $black);
                filter: drop-shadow(1vh 1vh 3vh $black);
                // -webkit-transition: 3s cubic-bezier(.29, 1.01, 1, -0.68);
                // ;
                // -o-transition: 3s cubic-bezier(.29, 1.01, 1, -0.68);
                // ;
                // transition: 3s cubic-bezier(.29, 1.01, 1, -0.68);
                // ;
                // -webkit-transform: perspective(25vh) rotateY(-32deg);
                // transform: perspective(25vh) rotateY(-32deg);

                &:hover {
                    -webkit-filter: sepia(60%) drop-shadow(2px 1px 3px $black);
                    filter: sepia(60%) drop-shadow(5px 5px 5px $black);
                    // -webkit-transition: 3s cubic-bezier(.29, 1.01, 1, -0.68);
                    // ;
                    // -o-transition: 3s cubic-bezier(.29, 1.01, 1, -0.68);
                    // ;
                    // transition: 3s cubic-bezier(.29, 1.01, 1, -0.68);
                    ;
                }
            }

            #Tablette {
                width: 11%;
                left: 18%;
                bottom: 12%;
            }

            #Puzzle {
                left: 7%;
                width: 10%;
                bottom: 0;
            }
        }

        #Decors {
            #Etoiles {
                top: .9%;
                width: 31%;
                -webkit-animation: rihanna 5s infinite;
                animation: rihanna 8s infinite;
            }

            #Bureau {
                top: 33%;
                left: 0.5%;
                width: 24%;
                z-index: 1;
            }

            #Crayons {
                right: 14%;
                bottom: 24%;
                width: 14.5%;
            }

            #Dessin {
                right: 0;
                bottom: 22%;
                width: 27.5%;
            }

            #Marelle {
                bottom: 1.4%;
                right: 27%;
                width: 37%;
            }

            #Oiseaux {
                top: 0;
                left: 40%;
                width: 15%;
                z-index: 0;
            }
        }
    }
}
