#game-page #Game {
    #ObjectInfo {
        .modal {
            #Cassettes_bg {
                // Ajustement de la zone de la cassette
                height: 73%;
            }
        }
    }

    .Room1 {
        -webkit-filter: saturate(132%);
        filter: saturate(132%);

        div {
            img {
                width: 20%;

                &:hover {
                    -webkit-filter: saturate(180%) drop-shadow(.05rem .05rem 5rem $white);
                    filter: saturate(180%) drop-shadow(.05rem .05rem 1rem $white);
                }
            }
        }

        #Objects {
            #Ramdam {
                top: 4%;
                left: 34%;
                width: 20%;
            }

            #Cassettes {
                left: 40%;
                bottom: 4%;
                width: 8%;
            }

            #Coffre {
                left: 10%;
                bottom: 14%;
                width: 27%;
            }

            #Jukebox {
                right: 5%;
                bottom: 14%;
            }

            #Lecteur {
                left: 12%;
                bottom: 38%;
                width: 9%;
                transform: rotate(3.8deg);

            }

            #Radio {
                right: 34%;
                bottom: 14%;
            }


        }

        #Decors {
            #Poster {
                left: -0.9%;
                top: 11%;
                -webkit-transform: perspective(50vw) rotate3d(0, 1, 0, 60deg);
                transform: perspective(50vw) rotate3d(0, 1, 0, 60deg);
                width: 10%;
                z-index: 1;
            }

            #Led {
                width: 7%;
                top: 3.9%;
                left: 4.8%;
                -webkit-animation: 8s pommeray infinite;
                animation: 8s pommeray infinite;
                z-index: 0;
            }

            #Panneau {
                top: 12%;
                left: 12%;
                width: 17%;
            }

            #Panneau_neon {
                top: 3%;
                left: 17%;
                width: 8%;
                -webkit-transform-origin: bottom left;
                -ms-transform-origin: bottom left;
                transform-origin: bottom left;
                -webkit-animation: 3s spin infinite, 3s pink_neon infinite;
                animation: 4s spin infinite, 4s pink_neon infinite;
            }

            #Big_Vinyl {
                top: 17%;
                right: 37%;
                width: 9%;
            }

            #Little_Vinyl {
                top: 27%;
                left: 31%;
                width: 6%;
            }

            #Guitare {
                top: 2%;
                right: 5%;
                width: 31%;
            }
        }
    }
}

#div_buttons {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 7%;
    left: 11%;
    height: 71%;

    .Lecteur_button {
        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        height: 36px;
        margin: 1% 0;
        &:hover {
            background-color: rgba(255,0,0,0.3);
        }
    }
}

