#game-page {

    // Qd y'a pas inventaire 
    // -> top : 50% et cacher inventaire
    // Quand y'a pas btn recuprer : max-height: 90%;
    .modal {
        .modal-content {
            top: 39%; // Mettre à 39% si l'inventaire existe 
            height: 28rem;
            width: 45rem;
            min-width: 1rem;
            min-height: 2rem;
            // Glassmorphism
            background-image: -webkit-linear-gradient($black-degraded);
            background-image: -moz-linear-gradient($black-degraded);
            background-image: -o-linear-gradient($black-degraded);
            background-image: linear-gradient($black-degraded);
        }

        img {
            width: 100%;
            height: 100%;
        }

        #Activity {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            height: 100%;

            #titre_modal {
                transform: rotate(-90deg);
                font-family: "Audiowide", cursive;
                position: absolute;
                font-weight: bold;
                left: -2%;
                bottom: 50%;
                z-index: -14;
                font-size: 3vh;
                color: #ffffff3d;
                text-transform: uppercase;
            }

            #enigme_modal {
                display: flex;
                flex-direction: column;
                // background: red;
                // max-width: 80%;
                // max-height: 100%;
                max-width: 68%;
                max-height: 75%;

                img {
                    max-width: 100%;
                    // max-height: 60%;
                    max-height: 100%;
                    margin: 1.1rem auto;
                }

                .btn-animation_glitch {
                    margin: 0 auto;
                    display: inline;
                    width: 35%;
                    background-color: rgb(0, 0, 0, .2);

                    &:hover {
                        background-color: black;
                    }
                }
            }
        }

        #Inventory {
            width: 100%;
            height: auto;
            position: fixed;
            z-index: 11000;
            text-align: center;
            padding: 1rem;
            border-radius: 0.5rem 0.5rem 0 0;
            // Centrer et fixer la modal
            left: calc(-50vw + 50%);
            right: calc(-50vw + 50%);
            margin-left: auto;
            margin-right: auto;
            bottom: 0;

            div {
                width: 96%;
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-column-gap: 0;

                .picked {
                    position: relative;
                    width: 62%;
                    height: 5rem;
                    border-radius: 0.5rem;
                    padding: .7rem;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    align-content: center;
                    justify-content: center;
                    flex-direction: column;
                    // Glassmorphism
                    background-image: -webkit-linear-gradient($white-degraded);
                    background-image: -moz-linear-gradient($white-degraded);
                    background-image: -o-linear-gradient($white-degraded);
                    background-image: linear-gradient($white-degraded);

                    .item_number {
                        font-family: "Audiowide", cursive;
                        position: absolute;
                        font-weight: bold;
                        left: 0;
                        right: 0;
                        z-index: -14;
                        font-size: 6rem;
                        color: #ffffff3d;
                    }

                    p {
                        margin: 0;
                    }

                    img {
                        max-width: 60%;
                        max-height: 60%;
                        display: inline-block;
                        position: relative;
                        // Transition
                        transition: all 200ms ease-in;
                        -webkit-transition: all 200ms ease-in;
                        -ms-transition: all 200ms ease-in;
                        -moz-transition: all 200ms ease-in;

                        &:hover {
                            max-width: 100%;
                            max-height: 100%;
                            // Transition
                            transition: all 200ms ease-in;
                            -webkit-transition: all 200ms ease-in;
                            -ms-transition: all 200ms ease-in;
                            -moz-transition: all 200ms ease-in;

                        }
                    }
                }
            }
        }
    }
}
