#settings-panel {

    .burger {
        height: 6%;
        background: -webkit-linear-gradient($white-degraded);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: none;
        position: fixed;
        z-index: 3;
        top: 2%;
        right: 10%;
    }

    .menu {
        position: fixed;
        z-index: 1;
        width: 38%;
        height: 50px;
        top: 0;
        right: 0;
        padding: 4% 2.5%;
        border-radius: 0.5rem;
        overflow: hidden;
        display: flex;
        // Glasmorphism
        background-image: -o-linear-gradient($black-degraded);
        background-image: -o-linear-gradient($black-degraded);
        background-image: linear-gradient($black-degraded);

        div {
            padding: 5%;
        }

        #filter {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            flex-basis: 10%;

            span {
                width: 100%;
                text-align: center;
                -webkit-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background: -webkit-linear-gradient($white-degraded);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    -webkit-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                }
            }

            span.active {
                border-radius: 0.5rem;
                // Glassmorphism
                background-image: -o-linear-gradient($black-degraded);
                background-image: -o-linear-gradient($black-degraded);
                background-image: linear-gradient($black-degraded);

                i {
                    padding: 1%;
                }
            }
        }

        #tabs {
            flex-basis: 90%;
            margin: 4% 2.5%;
            border-radius: 0.5rem;
            // Glassmorphism
            background-image: -o-linear-gradient($black-degraded);
            background-image: -o-linear-gradient($black-degraded);
            background-image: linear-gradient($black-degraded);

            .tabcontent {
                p {
                    font-size: 2vw;
                }

                hr {
                    margin: 2rem 0;
                }
            }
        }
    }

    div.burger {
        display: block;
    }

    nav.menu {
        height: 88vh;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    nav.menu.is-open {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

.tabcontent {
    display: none;
}

@-moz-document url-prefix() {
    .menu {
        background: rgba(38, 37, 37, 0.73);
    }

    #tabs {
        background-image: inherit;
        background-color: $body-bg;
    }
}
