#settings-panel {

    .burger {
        background: -webkit-linear-gradient($white-degraded);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: none;
        position: fixed;
        z-index: 3;
        top: 2%;
        right: 10%;
        font-size: 3.2vw;
    }

    .settings-menu {
        position: fixed;
        z-index: 2;
        width: 38%;
        height: 50px;
        top: 0;
        right: 0;
        padding: 4% 2.5%;
        border-radius: 0.5rem;
        overflow: hidden;
        display: flex;
        // Glasmorphism
        background-image: -o-linear-gradient($black-degraded);
        background-image: -o-linear-gradient($black-degraded);
        background-image: linear-gradient($black-degraded);

        div {
            padding: 5%;
        }

        #filter {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            flex-basis: 10%;

            span {
                width: 100%;
                text-align: center;
                -webkit-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background: -webkit-linear-gradient($white-degraded);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    -webkit-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                }
            }

            span.active {
                border-radius: 0.5rem;
                // Glassmorphism
                background-image: -o-linear-gradient($black-degraded);
                background-image: -o-linear-gradient($black-degraded);
                background-image: linear-gradient($black-degraded);
                padding: 36%;
                -webkit-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;

                i {
                    font-size: 3vh;
                }
            }
        }

        #tabs {
            flex-basis: 90%;
            margin: 4% 2.5%;
            border-radius: 0.5rem;
            overflow: scroll;
            // Glassmorphism
            background-image: -o-linear-gradient($black-degraded);
            background-image: -o-linear-gradient($black-degraded);
            background-image: linear-gradient($black-degraded);

            .tabcontent {


                padding: 5%;

                h2 {
                    padding-bottom: 5%;
                    border-bottom: .4vh $white solid;
                    margin-bottom: 9%;
                }

                div {
                    margin: 11% 0;

                    p {
                        margin-bottom: 3%;
                    }
                }
            }
        }
    }

    #Sound {
        .slider {
            -webkit-appearance: none;
            width: 100%;
            height: 15px;
            border-radius: 5px;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
            // Glassmorphism
            background-image: -o-linear-gradient($black-degraded);
            background-image: -o-linear-gradient($black-degraded);
            background-image: linear-gradient($black-degraded);
        }

        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 5vh;
            height: 5vh;
            border-radius: 50%;
            background-color: $white;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;

            &:hover {
                box-shadow: 0 0 0 2vh rgba(255, 255, 255, 0.15);
                -webkit-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            }
        }

        .slider::-moz-range-thumb {
            width: 10px;
            height: 10px;
            border-radius: 50%;
        }
    }

    #Info a {
        display: block;
        margin: 11% 0;
    }

    div.burger {
        display: block;
    }

    nav.settings-menu {
        height: 88vh;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    nav.settings-menu.is-open {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

.tabcontent {
    display: none;
}

@-moz-document url-prefix() {
    .settings-menu {
        background: rgba(38, 37, 37, 0.73);
    }

    #tabs {
        background-image: inherit;
        background-color: $body-bg;
    }
}
