#Chrono {
    position: fixed;
    z-index: 15;
    font-family: "Big Shoulders Display", cursive;
    color: $body-bg;
    margin: 0;
    padding: 0.04% 1.6%;
    border-radius: 8.5%;
    text-align: center;
    font-weight: bold;
    top: 2%;
    right: 14%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    // Glassmorphism
    background-image: -webkit-linear-gradient($white-degraded);
    background-image: -moz-linear-gradient($white-degraded);
    background-image: -o-linear-gradient($white-degraded);
    background-image: linear-gradient($white-degraded);

    .chrono_digit,
    .chrono_space {
        font-size: 3vw !important;
    }
}

// .chrono_digit {
//     background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(49%, #e1e1e1), color-stop(50%, #fff), to(#e1e1e1));
//     background: -o-linear-gradient(top, #fff 0%, #e1e1e1 49%, #fff 50%, #e1e1e1 100%);
//     background: linear-gradient(to bottom, #fff 0%, #e1e1e1 49%, #fff 50%, #e1e1e1 100%);
//     width: 25px;
// }
