.Cinematic {
    .show-player {
        visibility: visible !important;
    }

    video source {
        object-fit: contain;
    }

    #media-video {
        height: 100vh !important;
        background: $black !important;
    }

    #controls {
        visibility: hidden;
        position: fixed;
        width: 100%;
        height: 20%;
        bottom: 0;
        color: white;
        display: block;
        z-index: 1;
        // background-color: red;

        div {
            // position: relative;
            // background-color: blue;

            i,
            button {
                font-size: 2vw !important;
            }

            #btn-controls {
                display: flex;
                width: 100%;
                justify-content: space-between;
                position: absolute;
                bottom: 16%;
                z-index: 15;

                &>button {
                    margin: 0 2%;
                    outline: inherit;
                    border: none;
                    color: white;
                    background: -webkit-linear-gradient($white-degraded);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

            #timer {
                font-family: "Audiowide", cursive;
                font-size: 2vw !important;
                margin: 2%;
                font-weight: bold;
                text-align: right;
                background: -webkit-linear-gradient(298.05deg, rgba(255, 255, 255, 0.296) 4.34%, rgba(255, 255, 255, 0.3034) 93.57%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    #progressBar {
        height: 100%;
        width: 100%;
        display: flex;
        overflow: hidden;
        // Glassmorphism
        background-image: linear-gradient(298.05deg, rgb(121 121 121 / 30%) 4.34%, rgb(0 0 0 / 19%) 93.57%);

        &>#progressVideo {
            height: 100%;
            width: 0%; // Initialisation à zéro
            //  Glassmorphism
            background-image: -webkit-linear-gradient($cyan_blue-degraded);
            background-image: -moz-linear-gradient($cyan_blue-degraded);
            background-image: -o-linear-gradient($cyan_blue-degraded);
            background-image: linear-gradient($cyan_blue-degraded);
        }
    }
}
