#rank {
    position: relative;

    table {
        max-width: 62.75rem;
        margin: 10rem 2rem 0 2rem;
        background-color: $body-bg;
        border: thin solid $white;

        thead {
            display: block;
            border-bottom: thin solid $white;
            padding: 1.4rem 0;
        }

        tbody {
            padding-top: 2rem;
            display: block;
            max-height: 37.0625rem;
            overflow-y: auto;
        }

        td,
        th {
            width: 60rem; // Taille d'une colonne
            text-align: center;
            padding: 1rem 0;
        }
    }

    .hand {
        position: absolute;
        bottom: -12%;
        -webkit-transform: translateY(12%);
        -ms-transform: translateY(12%);
        transform: translateY(12%);
        right: -11%;
        -webkit-transform: translateX(11%);
        -ms-transform: translateX(11%);
        transform: translateX(11%);

        img {
            width: 80%;
        }
    }

    // ::-webkit-scrollbar {
    //     // Scrollbarss
    //     width: 0.75rem;
    //     background: $black-degraded;
    // }

    // ::-webkit-scrollbar-track {
    //     background-color: $white;
    //     // -webkit-box-shadow: inset 0 0 0.375rem grey; 
    //     // -webkit-border-radius: 10px;
    //     // border-radius: 10px;
    // }

    // ::-webkit-scrollbar-thumb {
    //     // border-radius: 10px;
    //     background-color: grey;
    //     -webkit-box-shadow: inset 0 0 0.375rem grey;
    //     box-shadow: inset 0 0 0.375rem grey;
    // }

    // ::-webkit-scrollbar-thumb:hover {
    //     // Barres
    //     background: darken(rgb(90, 90, 90), 50%);
    //     // -webkit-box-shadow: inset 0 0 0 1px rgb(90,90,90), inset 0 0 0 0.375rem rgb(110,110,110);
    // }

    // ::-webkit-scrollbar-track-piece {						
    // // Fonds
    // 	background: transparent none;
    // 	border: solid 4px transparent;
    // 	border-right-width: 8px;
    // 	margin: 4px;
    // 	-webkit-box-shadow: inset 1px 1px 0 0 rgb(137,131,117), inset -1px -1px 0 0 rgb(224,220,210);
    // }
    // ::-webkit-scrollbar-track-piece:horizontal {			
    // // Fond pour la barre du bass
    // 	border-right-width: 4px;
    // 	border-bottom-width: 8px;
    // }
    // ::-webkit-scrollbar-thumb {								
    // // Barres
    // 	border: solid 0 transparent;
    // 	border-right-width: 4px;
    // 	-webkit-border-radius: 5px;
    // 	-webkit-border-top-right-radius: 9px 5px;
    // 	-webkit-border-bottom-right-radius: 9px 5px;
    // 	-webkit-box-shadow: inset 0 0 0 1px rgb(79,79,79), inset 0 0 0 0.375rem rgb(102,102,102);
    // }

    // ::-webkit-scrollbar-thumb:horizontal {					
    // // Barre du bas
    // 	border-right-width: 0;
    // 	border-bottom-width: 4px;
    // 	-webkit-border-top-right-radius: 5px;
    // 	-webkit-border-bottom-right-radius: 5px 9px;
    // 	-webkit-border-bottom-left-radius: 5px 9px;
    // }
    // ::-webkit-scrollbar-corner {							
    // // Coin de la fenêtres
    // 	background: #bfb6a3 url(images/bg-blog-repeat.png) 0 0 no-repeat;
    // }
    // ::-webkit-scrollbar-button {							
    // // Boutonss
    // 	height: 20.375rem;
    // 	background: url(images/webkit-arrows-vert.png) 1px 50% no-repeat, #bfb6a3 url(images/bg-blog-repeat.png) 0 0 no-repeat;
    // }
    // ::-webkit-scrollbar-button:increment {					
    // // Bouton pour descendres
    // 	background-position: -19px 50%;
    // }
    // ::-webkit-scrollbar-button:horizontal {					
    // // Boutons horizontauxs
    // 	width: 20.375rem;
    // 	background: url(images/webkit-arrows-horiz.png) 50% 1px no-repeat, #bfb6a3 url(images/bg-blog-repeat.png) 0 0 no-repeat;
    // }
    // ::-webkit-scrollbar-button:horizontal:increment {		
    // // Bouton pour aller à droites
    // 	background-position: 50% -19px;
    // }

}
