#enigme_modal div {
    height: 2.99em;
    position: absolute;
    top: 36.9%;
    left: 18%;
    width: 37.6rem;
    overflow: hidden;
}

#radio_slider{
    height:100%;
    width:100%;
    position:absolute;
    bottom:0%;
}

.slider{
    background:transparent;
}

.slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 3.5%;
    height: 65%;
    border: 0;
    background: url('/resources/game/room1/enigma/Radio/Radio_01.png');
    cursor: pointer;
    transform: translateY(50%);
}

#enigme_modal img{
    pointer-events: none;
}
