#enigme_modal div {
    height: 2.99em;
    position: absolute;
    top: 36.9%;
    left: 18%;
    width: 37.6rem;
    overflow: hidden;
    background: red;
}


#enigme_radio_cursor {
    height: 56%;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 38px solid black;
    left: 50%;
    position: absolute;
}

#enigme_modal img{
    pointer-events: none;
}
